<div id='writing'> 
    <v-begin  :is_show="isShow" @cust="custShowFunc"> </v-begin>
    <!--擦，这里的自定义事件中间不能大写。。。。。-->
    <v-canvas :is_show="isShow"> </v-canvas>
    <v-button :is_show="isShow"> </v-button>
</div>